<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Resultados de Búsqueda</title>
</head>
<body>
<h1>Concesionario Pirámide</h1>
<a href="/">Coches</a>
<a href="/nuevo">Nuevo</a>
<form action="/buscar" method="post">
  <label>
    <input name="matricula" type="text" placeholder="Matricula"/>
  </label>
  <button>Enviar</button>
</form>
<p>-------------------------------------</p>
<ul>
  <li th:each="coche : ${cochesEncontrados}">
    <span th:text="${'Matrícula: ' + coche.matricula}"></span><br>
    <span th:text="${'Marca: ' + coche.marca}"></span><br>
    <span th:text="${'Modelo: ' + coche.modelo}"></span><br>
    <span th:text="${'KM: ' + coche.km}"></span><br><br>
  </li>
</ul>

<a href="/">Volver a la página de inicio</a>
</body>
</html>