<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Concesionario Pirámide</h1>
    <a href="/">Coches</a>
    <a href="/nuevo">Nuevo</a>
    <form action="#" method="post">
        <label>
            <input name="data" type="text"/>
        </label>
        <button>Enviar</button>
    </form>
    <ul th:each="coche : ${coches}">
        <li>
            <p th:text="'Marca: ' + ${coche.marca}"></p>
            <p th:text="'Matricula: ' + ${coche.matricula}"></p>
            <p th:text="'Modelo: ' + ${coche.modelo}"></p>
            <p th:text="'KM: ' + ${coche.km}"></p>
            <p>-------------------------------------</p>
        </li>
    </ul>

</body>
</html>