<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Concesionario Pirámide</h1>
    <a href="/">Coches</a>
    <a href="/nuevo">Nuevo</a>
    <form action="/buscar" method="post">
        <label>
            <input name="matricula" type="text" placeholder="Matricula"/>
        </label>
        <button>Enviar</button>
    </form>
    <form action="/nuevo" method="post">
        <label>
            <input name="matricula" type="text" placeholder="Matricula"/>
            <input name="marca" type="text" placeholder="Marca"/>
            <input name="modelo" type="text" placeholder="Modelo"/>
            <input name="km" type="number" placeholder="KM"/>
        </label>
        <button>Enviar</button>
    </form>
</body>
</html>